@import url(https://fonts.googleapis.com/css?family=Nunito);

html,
body {
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

a {
    text-decoration: none;
}

.btn-text {
    text-shadow: 1px 1px #3f3f3f;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    color: #00aabb;
    font-weight: bold;
    display: none;
}

.links:hover .btn-img {
    display: none;
}

.links:hover .btn-text {
    display: block;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.top-left {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
    color: #00aabb;
    text-shadow: 3px 3px #3f3f3f;
}

.m-b-md {
    margin-bottom: 30px;
}

@media (max-width:1980px) {
    .title {
        font-size: 100px
    }
}

@media (max-width:1600px) {
    .title {
        font-size: 75px
    }
}

@media (max-width:1200px) {
    .title {
        font-size: 65px
    }
}

@media (max-width:900px) {
    .title {
        font-size: 55px
    }
}

@media (max-width:768px) {
    .title {
        font-size: 45px
    }
}